.shoppingCart {
  position: fixed;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  will-change: auto;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(45, 42, 36, 0.7);
  z-index: 1000;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.hiddenShoppingCart {
  transform: translateX(100%);
}

.cartContent {
  padding: 1rem 2rem 0;
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
}

.cartContentTitle {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.125rem;
}

.cartItems {
  border-top: 1px solid #d7d2cb;
}

/* ------------- CART SUMMARY -------------- */

.cartSummary {
  border-top: 1px solid #d7d2cb;
  padding: 2rem;
  width: 100%;
  display: flex;
}

.cartSummary > h4 {
  font-size: 1.4rem;
  display: inline-block;
}

.cartSummary > p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: auto;
}

/* ------------ CLOSE BUTTON -------------- */

.closeButton {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 1.2rem;
  z-index: 10;
  cursor: pointer;
  color: #7d7a75;
}

.closeButton:hover {
  color: #2d2a24;
}

/* EMPTY CART */
.emptyCart {
  padding: 1rem;
  line-height: 1.6;
}

.emptyCart h3 {
  font-size: 1.875rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.emptyCart p {
  margin-bottom: 1rem;
}

.emptyCart button {
  color: #00ab84;
  padding-bottom: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

/* ------------------ MEDIA ------------------ */

@media (min-width: 40em) {
  .shoppingCart {
    width: 66%;
    min-width: 22rem;
    max-width: 30rem;
  }
}

@media (min-width: 64em) {
  .shoppingCart {
    width: 30%;
    min-width: 28rem;
    max-width: 35rem;
  }
}
