.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: transform 0.4s ease-in-out;
  z-index: 999;
}

.hiddenHeader {
  transform: translateY(-100%);
}

.transparentHeader {
  background: transparent;
}
